Sort By: <select class="form-control select_form" id=<%= @student.id.to_s %>>
			<option id="deadline">Deadline</option>
			<option id="value">Value</option>
			<option id="value_opposite">Value Smallest</option>
			<option id="name">Name</option>
		</select>