// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// background-color is set to white

$magenta-color: #ff0066;
$default-black: #000000;
$default-gray: #8C8C8C;
$default-magenta: #E422B9;
$background-white: #ffffff;

.form-controller-student{
	width: 400px;
    height: 268px;
    box-shadow: 10px 10px 10px #8C8C8C;
    background-color: $magenta-color;
    margin-left: 10px;
    padding: 53px;
	input:last-child{
		float: right;
	}
}

.window_pane{
	width: 33%;
	height: 100vh;
	margin-left: -40%;
	margin-top: -35%;
	position: absolute;
	top: -5px;
	left: 0px;
	background-color: $background-white;
	overflow-y: scroll;
	a{
		margin-top: -85px;
		margin-left: 74%;
		font-size: 25px;
	}
}


.day_instance{
	width: 55%;
	ul{
		li{
		}
	}
}

.right-jus{
	text-align: center;
	text-align-last: right;
}

.student-first{
	clear: both;
}
// For the calendar, let's make it look somewhat decent here

// just remember to add those few elements to calander to prevent stretching on the grid.